.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Login h1{
    color: white;
    text-align: center;
}
.TextFields{
    display: flex;
    flex-direction: column;
}
.TextFields input{
    padding: 15px;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    transition:all 0.5s;
}
.TextFields input:focus{
    outline: none;
}
.TextFields input:hover{
    transform: scale(1.1);
}
.error{
    color: #be7815;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    margin: 10 0px;
}
.button{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border:none;
    background-color: #F5FF90;
    color: rgb(68, 59, 30);
    font-size: 20px;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}